In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# control display of seaborn data
pd. options.display.max_columns=50
sns.set(style="darkgrid", rc={"axes.facecolor":"CAF1DE"})

In [9]:
#dataset before cleaning
df=pd.read_csv('UceResultsBySchool2011-2016.csv')
print(df)

       YEAR      DISTRICT                                              SCHOOL  \
0      2011         WAKISO                                 GAYAZA HIGH SCHOOL
1      2011         MUKONO                                 NAMILYANGO COLLEGE
2      2011         MUKONO                             MT.ST.MARY'S,NAMAGUNGA
3      2011         WAKISO                        UGANDA MARTYRS SS,NAMUGONGO
4      2011  BUSHENYI MAIN                                    KITABI SEMINARY
...     ...            ...                                                ...
17634  2016          ZOMBO      PAIDHA SECONDARY SCHOOL    P.O.BOX 117 PAIDHA
17635  2016          ZOMBO  PAKADHA SEED SECONDARY SCHOOL    P.O.BOX 143 P...
17636  2016          ZOMBO        CHARITY COLLEGE,PAIDHA    P.O.BOX 47 PAIDHA
17637  2016          ZOMBO  NEGRINI MEM. SECONDARY SCHOOL    P.O.BOX 156 P...
17638  2016          ZOMBO   JANGOKORO SEED SEC. SCHOOL    P.O.BOX 139 PAIDHA

       TOTAL CANDIDATES  TOTAL DIV 1  % DIV 1  TOTAL DIV 2  % DIV 2  \
0                 176.0        175.0     99.4          1.0      0.6
1                 151.0        150.0     99.3          NaN      0.0
2                 153.0        151.0     98.7          2.0      1.3
3                 222.0        216.0     97.3          6.0      2.7
4                  73.0         71.0     97.3          2.0      2.7
...                 ...          ...      ...          ...      ...
17634             148.0          0.0      0.0         12.0      8.1
17635              68.0          0.0      0.0          2.0      2.9
17636             128.0          0.0      0.0          4.0      3.1
17637              45.0          0.0      0.0          1.0      2.2
17638              50.0          0.0      0.0          1.0      2.0

       TOTAL DIV 3  % DIV 3  TOTAL DIV 4  % DIV 4  TOTAL DIV 7  % DIV 7  \
0              NaN      0.0          NaN      0.0          NaN      0.0
1              NaN      0.0          NaN      0.0          NaN      0.0
2              NaN      0.0          NaN      0.0          NaN      0.0
3              NaN      0.0          NaN      0.0          NaN      0.0
4              NaN      0.0          NaN      0.0          NaN      0.0
...            ...      ...          ...      ...          ...      ...
17634         30.0     20.3         85.0     57.4          1.0      0.7
17635         11.0     16.2         50.0     73.5          0.0      0.0
17636          6.0      4.7         71.0     55.5          1.0      0.8
17637          2.0      4.4         26.0     57.8          0.0      0.0
17638          4.0      8.0         25.0     50.0          0.0      0.0

       TOTAL DIV 9  % DIV 9  TOTAL X  % X  FEMALE CANDIDATES  \
0              NaN      0.0      NaN  0.0                176
1              NaN      0.0      1.0  0.7                  0
2              NaN      0.0      NaN  0.0                153
3              NaN      0.0      NaN  0.0                113
4              NaN      0.0      NaN  0.0                  0
...            ...      ...      ...  ...                ...
17634         15.0     10.1      5.0  3.4                 44
17635          5.0      7.4      0.0  0.0                 28
17636         36.0     28.1     10.0  7.8                 24
17637         14.0     31.1      2.0  4.4                 14
17638         17.0     34.0      3.0  6.0                 28

       FEMALE TOTAL DIV1   FEMALE % DIV1   FEMALE TOTAL DIV2   FEMALE % DIV2  \
0                   175.0            99.4                 1.0            0.6
1                     NaN             0.0                 NaN            0.0
2                   151.0            98.7                 2.0            1.3
3                   107.0            94.7                 6.0            5.3
4                     NaN             0.0                 NaN            0.0
...                   ...             ...                 ...            ...
17634                 0.0             0.0                 0.0            0.0
17635                 0.0             0.0                 1.0            3.6
17636                 0.0             0.0                 0.0            0.0
17637                 0.0             0.0                 1.0            7.1
17638                 0.0             0.0                 0.0            0.0

       FEMALE TOTAL DIV3  FEMALE % DIV3  FEMALE TOTAL DIV4  FEMALE % DIV4  \
0                    NaN            0.0                NaN            0.0
1                    NaN            0.0                NaN            0.0
2                    NaN            0.0                NaN            0.0
3                    NaN            0.0                NaN            0.0
4                    NaN            0.0                NaN            0.0
...                  ...            ...                ...            ...
17634                5.0           11.4               32.0           72.7
17635                4.0           14.3               21.0           75.0
17636                0.0            0.0               17.0           70.8
17637                0.0            0.0                7.0           50.0
17638                0.0            0.0               15.0           53.6

       FEMALE TOTAL DIV7  FEMALE % DIV7  FEMALE TOTAL DIV9  FEMALE % DIV9  \
0                    NaN            0.0                NaN            0.0
1                    NaN            0.0                NaN            0.0
2                    NaN            0.0                NaN            0.0
3                    NaN            0.0                NaN            0.0
4                    NaN            0.0                NaN            0.0
...                  ...            ...                ...            ...
17634                1.0            2.3                5.0           11.4
17635                0.0            0.0                2.0            7.1
17636                0.0            0.0                5.0           20.8
17637                0.0            0.0                5.0           35.7
17638                0.0            0.0               10.0           35.7

       FEMALE TOTAL X  FEMALE % X   MALE CANDIDATES  MALE TOTAL DIV1   \
0                 NaN          0.0                0               NaN
1                 NaN          0.0              151               NaN
2                 NaN          0.0                0               NaN
3                 NaN          0.0              109               NaN
4                 NaN          0.0               73               NaN
...               ...          ...              ...               ...
17634             1.0          2.3              104               0.0
17635             0.0          0.0               40               0.0
17636             2.0          8.3              104               0.0
17637             1.0          7.1               31               0.0
17638             3.0         10.7               22               0.0

       MALE % DIV1   MALE TOTAL DIV2   MALE % DIV2  MALE TOTAL DIV3  \
0               0.0               NaN          0.0              NaN
1              99.3             150.0          0.0              NaN
2               0.0               NaN          0.0              NaN
3             100.0             109.0          0.0              NaN
4              97.3              71.0          2.7              2.0
...             ...               ...          ...              ...
17634           0.0              12.0         11.5             25.0
17635           0.0               1.0          2.5              7.0
17636           0.0               4.0          3.8              6.0
17637           0.0               0.0          0.0              2.0
17638           0.0               1.0          4.5              4.0

       MALE % DIV3  MALE TOTAL DIV4  MALE % DIV4   MALE TOTAL DIV7   \
0              0.0              NaN           0.0               NaN
1              0.0              NaN           0.0               NaN
2              0.0              NaN           0.0               NaN
3              0.0              NaN           0.0               NaN
4              0.0              NaN           0.0               NaN
...            ...              ...           ...               ...
17634         24.0             53.0          51.0               0.0
17635         17.5             29.0          72.5               0.0
17636          5.8             54.0          51.9               1.0
17637          6.5             19.0          61.3               0.0
17638         18.2             10.0          45.5               0.0

       MALE % DIV7  MALE TOTAL DIV9   MALE % DIV9  MALE TOTAL X   MALE % X
0              0.0               NaN          0.0            NaN       0.0
1              0.0               NaN          0.0            NaN       0.7
2              0.0               NaN          0.0            NaN       0.0
3              0.0               NaN          0.0            NaN       0.0
4              0.0               NaN          0.0            NaN       0.0
...            ...               ...          ...            ...       ...
17634          0.0              10.0          9.6            4.0       3.8
17635          0.0               3.0          7.5            0.0       0.0
17636          1.0              31.0         29.8            8.0       7.7
17637          0.0               9.0         29.0            1.0       3.2
17638          0.0               7.0         31.8            0.0       0.0

[17639 rows x 48 columns]

In [3]:
df.head(20)

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,TOTAL DIV 4,% DIV 4,TOTAL DIV 7,% DIV 7,TOTAL DIV 9,% DIV 9,TOTAL X,% X,FEMALE CANDIDATES,FEMALE TOTAL DIV1,FEMALE % DIV1,FEMALE TOTAL DIV2,FEMALE % DIV2,FEMALE TOTAL DIV3,FEMALE % DIV3,FEMALE TOTAL DIV4,FEMALE % DIV4,FEMALE TOTAL DIV7,FEMALE % DIV7,FEMALE TOTAL DIV9,FEMALE % DIV9,FEMALE TOTAL X,FEMALE % X,MALE CANDIDATES,MALE TOTAL DIV1,MALE % DIV1,MALE TOTAL DIV2,MALE % DIV2,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,176,175.0,99.4,1.0,0.6,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1.0,0.7,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,151,NaN,99.3,150.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,153,151.0,98.7,2.0,1.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,113,107.0,94.7,6.0,5.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,109,NaN,100.0,109.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,73,NaN,97.3,71.0,2.7,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
5,2011,MASAKA MAIN,"ST.HENRY'S COLLEGE,KITOVU",164.0,159.0,97.0,5.0,3.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,164,NaN,97.0,159.0,3.0,5.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
6,2011,WAKISO,"KING'S COLLEGE,BUDO",218.0,210.0,96.3,7.0,3.2,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1.0,0.5,74,73.0,98.6,1.0,1.4,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,144,NaN,95.1,137.0,4.2,6.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
7,2011,KIBAALE,"NOTRE DAME ACADEMY,BUSEESA",25.0,24.0,96.0,1.0,4.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,25,24.0,96.0,1.0,4.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
8,2011,KAMPALA,"ST.JOSEPH'S GIRLS,NSAMBYA",192.0,183.0,95.3,9.0,4.7,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,192,183.0,95.3,9.0,4.7,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
9,2011,WAKISO,"ST.MARY'S SECONDARY SCHOOL,KITENDE",440.0,416.0,94.5,22.0,5.0,NaN,0.0,NaN,0.0,1.0,0.2,NaN,0.0,1.0,0.2,216,199.0,92.1,16.0,7.4,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1.0,0.5,224,NaN,96.9,217.0,2.7,6.0,0.0,NaN,0.0,NaN,0.4,1.0,0.0,NaN,0.0
10,2011,MBARARA,NTARE SCHOOL,248.0,234.0,94.4,11.0,4.4,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,3.0,1.2,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,248,NaN,94.4,234.0,4.4,11.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.2
11,2011,WAKISO,"ST.MARY'S COLLEGE,KISUBI",202.0,190.0,94.1,3.0,1.5,1.0,0.5,NaN,0.0,NaN,0.0,NaN,0.0,8.0,4.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,202,NaN,94.1,190.0,1.5,3.0,0.5,1.0,0.0,NaN,0.0,NaN,0.0,NaN,4.0
12,2011,KALUNGU,BUKALASA MINOR SEMINARY,51.0,46.0,90.2,5.0,9.8,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,51,NaN,90.2,46.0,9.8,5.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
13,2011,MBARARA,MARYHILL HIGH SCHOOL,226.0,203.0,89.8,23.0,10.2,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,226,203.0,89.8,23.0,10.2,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
14,2011,WAKISO,"TRINITY COLLEGE,NABBINGO",192.0,170.0,88.5,21.0,10.9,NaN,0.0,NaN,0.0,1.0,0.5,NaN,0.0,NaN,0.0,192,170.0,88.5,21.0,10.9,NaN,0.0,NaN,0.0,1.0,0.5,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
15,2011,MUKONO,"ST.JOSEPH'S SECONDARY SCHOOL,NAGGALAMA",222.0,195.0,87.8,26.0,11.7,1.0,0.5,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,100,83.0,83.0,17.0,17.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,122,NaN,91.8,112.0,7.4,9.0,0.8,1.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0
16,2011,WAKISO,KISUBI SEMINARY,49.0,43.0,87.8,6.0,12.2,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,49,NaN,87.8,43.0,12.2,6.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
17,2011,LUWERO,NDEJJE SECONDARY SCHOOL,203.0,178.0,87.7,22.0,10.8,1.0,0.5,NaN,0.0,NaN,0.0,NaN,0.0,2.0,1.0,88,71.0,80.7,16.0,18.2,1.0,1.1,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,115,NaN,93.0,107.0,5.2,6.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,1.7
18,2011,MOROTO,"NADIKET SEMINARY,MOROTO",15.0,13.0,86.7,2.0,13.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,15,NaN,86.7,13.0,13.3,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
19,2011,MPIGI,ST.JOSEPH OF NAZARETH H/S,36.0,31.0,86.1,5.0,13.9,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,20,16.0,80.0,4.0,20.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,16,NaN,93.8,15.0,6.3,1.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0

In [4]:
df.columns

Index(['YEAR', 'DISTRICT ', 'SCHOOL', 'TOTAL CANDIDATES', 'TOTAL DIV 1',
       '% DIV 1', 'TOTAL DIV 2', '% DIV 2', 'TOTAL DIV 3', '% DIV 3',
       'TOTAL DIV 4', '% DIV 4', 'TOTAL DIV 7', '% DIV 7', 'TOTAL DIV 9',
       '% DIV 9', 'TOTAL X', '% X', 'FEMALE CANDIDATES', 'FEMALE TOTAL DIV1 ',
       'FEMALE % DIV1 ', 'FEMALE TOTAL DIV2 ', 'FEMALE % DIV2',
       'FEMALE TOTAL DIV3', 'FEMALE % DIV3', 'FEMALE TOTAL DIV4',
       'FEMALE % DIV4', 'FEMALE TOTAL DIV7', 'FEMALE % DIV7',
       'FEMALE TOTAL DIV9', 'FEMALE % DIV9', 'FEMALE TOTAL X', 'FEMALE % X ',
       'MALE CANDIDATES', 'MALE TOTAL DIV1 ', 'MALE % DIV1 ',
       'MALE TOTAL DIV2 ', 'MALE % DIV2', 'MALE TOTAL DIV3', 'MALE % DIV3',
       'MALE TOTAL DIV4', 'MALE % DIV4 ', 'MALE TOTAL DIV7 ', 'MALE % DIV7',
       'MALE TOTAL DIV9 ', 'MALE % DIV9', 'MALE TOTAL X ', 'MALE % X'],
      dtype='object')

In [5]:
#removing white spaces
df.columns=df.columns.to_series().apply(lambda x:x.strip())

SyntaxError: invalid syntax (1463135356.py, line 2)

In [1]:
#replace coulumns with 
df.columns=df.columns.str.replace(' ',' ')
print(df.columns)

NameError: name 'df' is not defined

In [11]:
#check info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17639 entries, 0 to 17638
Data columns (total 48 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YEAR                17639 non-null  int64
 1   DISTRICT            17639 non-null  object
 2   SCHOOL              17638 non-null  object
 3   TOTAL CANDIDATES    17368 non-null  float64
 4   TOTAL DIV 1         12858 non-null  float64
 5   % DIV 1             17639 non-null  float64
 6   TOTAL DIV 2         16880 non-null  float64
 7   % DIV 2             17639 non-null  float64
 8   TOTAL DIV 3         17168 non-null  float64
 9   % DIV 3             17639 non-null  float64
 10  TOTAL DIV 4         16888 non-null  float64
 11  % DIV 4             17639 non-null  float64
 12  TOTAL DIV 7         6489 non-null   float64
 13  % DIV 7             17639 non-null  float64
 14  TOTAL DIV 9         13454 non-null  float64
 15  % DIV 9             17639 non-null  float64
 16  TOTAL X             13404 non-null  float64
 17  % X                 17639 non-null  float64
 18  FEMALE CANDIDATES   17639 non-null  int64
 19  FEMALE TOTAL DIV1   8525 non-null   float64
 20  FEMALE % DIV1       17581 non-null  float64
 21  FEMALE TOTAL DIV2   14332 non-null  float64
 22  FEMALE % DIV2       17581 non-null  float64
 23  FEMALE TOTAL DIV3   16474 non-null  float64
 24  FEMALE % DIV3       17581 non-null  float64
 25  FEMALE TOTAL DIV4   16681 non-null  float64
 26  FEMALE % DIV4       17581 non-null  float64
 27  FEMALE TOTAL DIV7   4764 non-null   float64
 28  FEMALE % DIV7       17581 non-null  float64
 29  FEMALE TOTAL DIV9   12349 non-null  float64
 30  FEMALE % DIV9       17581 non-null  float64
 31  FEMALE TOTAL X      10596 non-null  float64
 32  FEMALE % X          17581 non-null  float64
 33  MALE CANDIDATES     17639 non-null  int64
 34  MALE TOTAL DIV1     10038 non-null  float64
 35  MALE % DIV1         17505 non-null  float64
 36  MALE TOTAL DIV2     15242 non-null  float64
 37  MALE % DIV2         17505 non-null  float64
 38  MALE TOTAL DIV3     16399 non-null  float64
 39  MALE % DIV3         17505 non-null  float64
 40  MALE TOTAL DIV4     16260 non-null  float64
 41  MALE % DIV4         17505 non-null  float64
 42  MALE TOTAL DIV7     7508 non-null   float64
 43  MALE % DIV7         17505 non-null  float64
 44  MALE TOTAL DIV9     10519 non-null  float64
 45  MALE % DIV9         17505 non-null  float64
 46  MALE TOTAL X        10379 non-null  float64
 47  MALE % X            17505 non-null  float64
dtypes: float64(43), int64(3), object(2)
memory usage: 6.5+ MB

In [14]:
#check for duplicatesand drop them
for isduplicate in df.duplicated()
    if isduplicate:
        print('dupli')
        df.drop_duplicate(inplace=True)
        break
    else:
        pass
    print('no duplicates')
    df[df.duplicated()==True]

SyntaxError: invalid syntax (3973332052.py, line 2)

In [15]:
#checking for null and NAN values in dataset
df.isna().any()

YEAR                  False
DISTRICT              False
SCHOOL                 True
TOTAL CANDIDATES       True
TOTAL DIV 1            True
% DIV 1               False
TOTAL DIV 2            True
% DIV 2               False
TOTAL DIV 3            True
% DIV 3               False
TOTAL DIV 4            True
% DIV 4               False
TOTAL DIV 7            True
% DIV 7               False
TOTAL DIV 9            True
% DIV 9               False
TOTAL X                True
% X                   False
FEMALE CANDIDATES     False
FEMALE TOTAL DIV1      True
FEMALE % DIV1          True
FEMALE TOTAL DIV2      True
FEMALE % DIV2          True
FEMALE TOTAL DIV3      True
FEMALE % DIV3          True
FEMALE TOTAL DIV4      True
FEMALE % DIV4          True
FEMALE TOTAL DIV7      True
FEMALE % DIV7          True
FEMALE TOTAL DIV9      True
FEMALE % DIV9          True
FEMALE TOTAL X         True
FEMALE % X             True
MALE CANDIDATES       False
MALE TOTAL DIV1        True
MALE % DIV1            True
MALE TOTAL DIV2        True
MALE % DIV2            True
MALE TOTAL DIV3        True
MALE % DIV3            True
MALE TOTAL DIV4        True
MALE % DIV4            True
MALE TOTAL DIV7        True
MALE % DIV7            True
MALE TOTAL DIV9        True
MALE % DIV9            True
MALE TOTAL X           True
MALE % X               True
dtype: bool

#check for the number of rows that are null
null_row=df[df.isna().any(axis=1)]
before_comparison = len(null_rows.axes[0]
print('no of rows that are null values:')

In [21]:
#remove rows without school names
df.dropna(thresh=None,subset=['SCHOOL'],inplace=True)

In [22]:
#statics for data science
#descriptive statistics,measure central Tendency(mean,median,mode),standard
#measure dispersion(standard)
#probability
#inferential statistics(make predictions,identity,variables and hypothesis)
#modelling
#ml
#regression,classification,cluster,anomly detection
#python data correlation
#use method corr()calculates correlation coefficients between all columns in dataframe
#strong positive correlation 1 strong negative correlation
#good correlation

In [ ]:
df = pd.DataFrame((
'x':[1,2,9,7,5]
'y':[6,7,8,9,10]
'z':[]))